@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: #100e1b;

        --muted: #f3f5fa;
        --muted-foreground: #8b8c8d;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: #3db2d1;
        --primary-foreground: #100e1b;

        --secondary: #f1843f;
        --secondary-foreground: #100e1b;

        --accent: #f3f5fa;
        --accent-foreground: #098761;

        --destructive: #d1285b;
        --destructive-foreground: F3F5FA;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: #100e1b;
        --foreground: #aaaaaa;

        --muted: #181528;
        --muted-foreground: #8b8c8d;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --primary: #3db2d1;
        --primary-foreground: #100e1b;

        --secondary: #f1843f;
        --secondary-foreground: #100e1b;

        --accent: #f3f5fa;
        --accent-foreground: #098761;

        --destructive: #d1285b;
        --destructive-foreground: F3F5FA;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: 'rlig' 1, 'calt' 1;
    }

    .sec-title {
        @apply text-4xl font-thin mt-8 mb-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-foreground;
    }

    h1 {
        @apply text-4xl;
        @apply text-primary;
    }

    h2 {
        @apply text-3xl;
        @apply text-primary;
    }

    h3 {
        @apply text-2xl;
    }

    a {
        @apply underline;
    }

    p {
        @apply mt-2;
    }

    .main-container {
        @apply flex flex-col px-8 gap-4 items-start;
        @apply md:flex-row md:justify-center;
        @apply md:container md:mx-auto;
        @apply justify-center;
        @apply max-w-screen-2xl;
    }

    .main-container > .two-col-left {
        @apply w-full;
        @apply md:w-9/12;
    }

    .main-container > .two-col-right {
        @apply hidden;
        @apply md:w-3/12 md:flex;
    }

    .block-container {
        @apply flex flex-col gap-0;
    }

    .block-container > .block {
        @apply w-full;
        @apply mx-auto;
    }

    .block-container > .block > .block-content {
        @apply h-full;
        @apply w-full max-w-screen-lg;
        @apply px-4 py-10 md:px-20 md:py-20;
        @apply mx-auto;
    }

    table {
        width: 100%;
        @apply border-collapse;
        @apply mt-4 mb-4;
    }

    table tr {
    }

    table tr:first-child {
        @apply border-t-2 border-primary;
    }

    table tr:last-child {
        @apply border-b-2 border-primary;
    }

    table tr:nth-child(2n) {
        @apply bg-muted;
    }

    table th {
        font-weight: bold;
        background-color: #f3f3f3;
    }

    table th,
    table td {
        @apply pt-3 pb-3 pl-4 pr-4;
    }
}
